* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background: #050505;
    color: white;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-thumb {
    background: crimson;
}

.cursor {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: crimson;
    position: fixed;
    pointer-events: none;
    z-index: 9999;
    mix-blend-mode: screen;
}

.header {
    width: 100%;
    height: 90px;

    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 80px;

    z-index: 999;

    background: rgba(0, 0, 0, .4);
    backdrop-filter: blur(12px);

    border-bottom: 1px solid rgba(255, 255, 255, .05);
}

.logo h1 {
    color: crimson;
    letter-spacing: 4px;
    font-size: 28px;
    font-family: 'Cinzel', serif;
}

.menu {
    display: flex;
    gap: 40px;
}

.menu a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: .4s;
    position: relative;
}

.menu a::after {
    content: '';
    width: 0%;
    height: 2px;
    background: crimson;

    position: absolute;
    left: 0;
    bottom: -8px;

    transition: .4s;
}

.menu a:hover::after {
    width: 100%;
}

.hero {
    width: 100%;
    height: 100vh;

    background:
        linear-gradient(to right, rgba(0, 0, 0, .95), rgba(0, 0, 0, .4)),
        url('img/df297299da9c3f3be9515351f4b99813.jpg');

    background-size: cover;
    background-position: center;

    display: flex;
    align-items: center;

    padding: 0 100px;

    position: relative;
}

.overlay {
    position: absolute;
    inset: 0;

    background: linear-gradient(to top, #050505, transparent);
}

.hero-content {
    width: 650px;
    z-index: 2;
}

.mini-title {
    color: crimson;
    letter-spacing: 4px;
    font-size: 13px;
}

.hero-content h2 {
    font-size: 95px;
    line-height: 95px;

    margin: 20px 0;

    font-family: 'Cinzel', serif;
}

.hero-content p {
    width: 85%;
    line-height: 34px;
    color: #d3d3d3;

    margin-bottom: 40px;
}

.buttons {
    display: flex;
    gap: 20px;
}

.buttons button {
    width: 190px;
    height: 60px;

    border: none;
    cursor: pointer;

    font-size: 14px;
    font-weight: 700;

    letter-spacing: 2px;

    transition: .4s;
}

.main-btn {
    background: crimson;
    color: white;

    box-shadow: 0 0 30px rgba(220, 20, 60, .4);
}

.second-btn {
    background: transparent;
    border: 2px solid white !important;
    color: white;
}

.buttons button:hover {
    transform: translateY(-8px);
}

.about {
    width: 100%;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 100px;

    padding: 100px;

    background: #090909;
}

.about-image {
    width: 400px;
    height: 550px;

    background: url('https://images7.alphacoders.com/607/607718.jpg');

    background-size: cover;
    background-position: center;

    border-radius: 20px;

    box-shadow: 0 0 40px rgba(220, 20, 60, .2);
}

.about-content {
    width: 550px;
}

.about-content span {
    color: crimson;
    letter-spacing: 4px;
    font-size: 13px;
}

.about-content h2 {
    font-size: 60px;
    margin: 20px 0;

    font-family: 'Cinzel', serif;
}

.about-content p {
    line-height: 34px;
    color: #d3d3d3;
}

.stats {
    display: flex;
    gap: 20px;

    margin-top: 40px;
}

.box {
    width: 160px;
    height: 120px;

    background: #101010;

    border: 1px solid rgba(255, 255, 255, .05);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: .4s;
}

.box:hover {
    transform: translateY(-10px);
    border-color: crimson;
}

.box h3 {
    color: crimson;
    margin-bottom: 10px;
}

.mind {
    width: 100%;
    height: 80vh;

    background:
        linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)),
        url('https://images5.alphacoders.com/611/611366.jpg');

    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;

    padding: 40px;
}

.mind-content h2 {
    font-size: 70px;
    margin-bottom: 30px;

    font-family: 'Cinzel', serif;
}

.mind-content p {
    max-width: 700px;
    line-height: 34px;
    color: #d3d3d3;
}

.gallery {
    width: 100%;
    min-height: 100vh;

    padding: 100px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);

    gap: 40px;

    background: #050505;
}

.card {
    height: 450px;

    border-radius: 20px;

    transition: .5s;

    cursor: pointer;
}

.card:hover {
    transform: scale(1.03);
}

.card1 {
    background: url('https://images4.alphacoders.com/698/698554.jpg');
    background-size: cover;
    background-position: center;
}

.card2 {
    background: url('https://images5.alphacoders.com/607/607715.jpg');
    background-size: cover;
    background-position: center;
}

.card3 {
    background: url('https://images6.alphacoders.com/698/698551.jpg');
    background-size: cover;
    background-position: center;
}

.card4 {
    background: url('https://images2.alphacoders.com/698/698553.jpg');
    background-size: cover;
    background-position: center;
}

.footer {
    width: 100%;
    height: 180px;

    background: black;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 15px;
}

.footer h2 {
    color: crimson;
    letter-spacing: 4px;

    font-family: 'Cinzel', serif;
}

.footer p {
    color: #8d8d8d;
    letter-spacing: 3px;
    font-size: 12px;
}