body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #111;
  color: white;
}

header {
  background: black;
  padding: 20px;
  text-align: center;
}

nav a {
  color: gold;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

.hero {
  text-align: center;
  padding: 50px;
  background: linear-gradient(to right, black, #796e7ce2);
}

.produtos {
  display: flex;
  justify-content: space-around;
  padding: 30px;
}

.produto {
  background: #2d2d2d;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  transition: transform 0.3s;
}

.produto:hover {
  transform: scale(1.05);
}

.produto img {
  border-radius: 10px;
}